{% extends 'base.html.twig' %}



{% block body %}
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../images/bateau.jpeg" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h1 id="h1Home">Bienvenue sur SicilyLines</h1>
        <h1>Nous sommes une petite entreprise pour des traverser à Sicile</h1>
      </div>
    </div>
  </div>
  </div>
   <hr><br>

  <h1 id="h1Home1"> </h1>

<div id="divCard">
    <div class="cards">
        <article class="card">
            <header>
                <h2>Nom reservation</h2>
            </header>    
            <img src="../images/bateau.jpeg" alt="">
            <div class="content">
                <p> kjdfhsdgyijshxvcsjjhvcmdjhdc
                sdhjgbdhjsvcbhjddvdfvd
                fgbdfgtfgvdfdsdgfgg </p>
                 
            </div>
            <footer> <a class="btn btn-primary" href="#" role="button">reserver</a></footer>  
        </article>
                
        <article class="card">
            <header>
                <h2>A short heading</h2>
            </header>    
            <img src="../images/paysage.jpeg" alt="Hot air balloons">
            <div class="content">
                <p>Short content.</p>
            </div>
            <footer> <a class="btn btn-primary" href="#" role="button">reserver</a></footer>
        </article>
                
        <article class="card">
            <header>
                <h2>A longer heading in this card</h2>
            </header>
            <img src="../images/bateau.jpeg" alt="">
            <div class="content">
                <p>In a curious work, published in Paris in 1863 by Delaville Dedreux, there is a
                    suggestion for reaching the North Pole by an aerostat.</p>
            </div>
            <footer><a class="btn btn-primary" href="#" role="button">reserver</a></footer>
        </article>
        <article class="card">
            <header>
                <h2>A short heading</h2>
            </header>
            <img src="../images/paysage.jpeg" alt="">
            <div class="content">
                <p> The idea of reaching the North Pole by means of balloons appears to have been entertained many
                    years ago. </p>

            </div>
             <footer><a class="btn btn-primary" href="#" role="button">reserver</a></footer>

        </article>
    </div>
<hr>


  

{% endblock %}
